---
theme: metropolis
---

## This week in technology, open source, and Linux!

By The Open Source Club

![OSC Logo](osc-logo.pdf "Open Source Club at Ohio State Logo")

# Disclaimer
* The views expressed in this presentation are those of the presentator(s).
* They are not endorsed by or affiliated with any of the people, companies, or entities mentioned.
* No guarantees are made that the information in this presentation are free of errors.

# [Slide Title](slide-link)
* Note 1
* Note 2
* Note 3
* et cetera

# Fin

* Anything we missed?
* Feel free to share!
